*{
    margin: 0;
    padding: 0;
}
#first-table{
    background-color: blueviolet;
    
}
#second-table{
    background-color:blue;
}
#Third-table{
    background-color: peru;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 
    
} 


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}